In [103]:
import pandas as pd
import numpy as np

In [5]:
school_data = "schools_complete.csv"
student_data = "students_complete.csv"

In [6]:
school_DF = pd.read_csv(school_data)
student_DF = pd.read_csv(student_data)

In [7]:
school_data_DF = pd.merge(student_DF, school_DF, how="left", on=["school_name", "school_name"])
school_data_DF.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [61]:
#school_count 
total_school = school_DF["School ID"].count()
total_school

15

In [9]:
#student count
student_count = student_DF["Student ID"].count()
student_count

39170

In [56]:
#calculate total budget
total_budget = school_DF["budget"].sum()
total_budget

24649428

In [11]:
#calculate the average (mean) math score
average_math_score = student_DF ["math_score"].mean()
average_math_score

78.98537145774827

In [12]:
#calculte the average (mean) reading score
average_reading_score = student_DF ["reading_score"].mean()
average_reading_score

81.87784018381414

In [13]:
#percentage of students who passed math (scores greater than or equal to 70)
passing_math_count = school_data_DF[(school_data_DF ["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count)*100
passing_math_percentage

74.9808526933878

In [14]:
#percentage of students who passed reading
passing_reading_count = school_data_DF[(school_data_DF ["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count)*100
passing_reading_percentage

85.80546336482001

In [15]:
#percentage of students that passed math and reading
passing_math_reading_count = school_data_DF[(school_data_DF["math_score"]>=70) & (school_data_DF["reading_score"]>=70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count / float(student_count)*100
overall_passing_rate

65.17232575950983

In [62]:
#create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [total_school],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "Percent passing Math": [passing_math_percentage],
    "Percent Passing Reading": [passing_reading_percentage],
    "Percent Overall Passing": [overall_passing_rate],
})

district_summary_DF= district_summary[["Total Schools",
                                     "Total Students",
                                     "Total Budget",
                                     "Average Math Score",
                                      "Average Reading Score",
                                      "Percent passing Math",
                                      "Percent Passing Reading",
                                      "Percent Overall Passing"]
                                     ]
#format cells

district_summary.style.format({"Total Budget": "${:,.2f}",
                              "Average Math Score": "{:.1f}",
                              "Average Reading Score": "{:.1f}",
                              "Percent passing Math": "{:.1%}",
                              "Percent Passing Reading": "{:.1f}",
                              "Percent Overall Passing": "{:.1%}" })

In [ ]:
#SCHOOL SUMMARY

In [109]:
#use the code provided to select the school type
school_types = school_data str(['school_name'])['type']

SyntaxError: invalid syntax (3512328056.py, line 2)

In [89]:
# total students
per_school_counts= student_DF["school_name"].count()

In [82]:
#per capita spending
per_school_budget = school_data_DF.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [86]:
#average test scores

average_math = student_DF["math_score"].mean()
average_reading = student_DF['reading_score'].mean()

In [100]:
#Math Scores by Grade & group by school name and take mean of each
ninth_graders = school_data_DF[(school_data_DF["grade"] == "9th")].groupby('school_name')["math_score"].mean()
tenth_graders = school_data_DF[(school_data_DF["grade"] == "10th")].groupby('school_name')["math_score"].mean()
eleventh_graders = school_data_DF[(school_data_DF["grade"] == "11th")].groupby('school_name')["math_score"].mean()
twelfth_graders = school_data_DF[(school_data_DF["grade"] == "12th")].groupby('school_name')["math_score"].mean()

ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]


math_scores_by_grade = pd.DataFrame({
    "9th": ninth_math,
    "10th": tenth_math,
    "11th": eleventh_math,
    "12th": twelfth_math
})

math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]
math_scores_by_grade.index.name = none

math_scores_by_grade.style.format ({'9th': '{:.1f}',
                                   "10th": '{:.1f}',
                                   "11th": '{:.1f}',
                                    "12th": "{:.1f}"})

NameError: name 'ninth_graders_scores' is not defined

In [ ]:
#Reading Score by Grade

In [78]:
#Scores by School Spending

In [ ]:
#scores by school size

In [ ]:
#scores by school type